parameters:
	level: 1
	paths:
		- src
	reportUnmatchedIgnoredErrors: false #no other way to silence platform-specific non-warnings
	ignoreErrors:
		-
			message: "#^Constant START_TIME not found\\.$#"
			path: src

		-
			message: "#^Constant BOOTUP_RANDOM not found\\.$#"
			path: src

		-
			message: "#^Constant GIT_COMMIT not found\\.$#"
			path: src

		-
			message: "#^Constant SOURCE_SHA1SUM not found\\.$#"
			path: src